.titulo-search {
  color: white;
}

.div-arrow {
  display: flex;
  gap: 20px;
  align-items: center;
  /* flex-direction: column; */
}
.div-arrow button {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  padding-right: 8px;
  /* background-color: transparent;
  color: white; */
}
