section {
  background-color: #00060f;
}

.nav-links {
  /* border: 1px solid red; */
  display: flex;
  gap: 10px;
}

.links {
  color: rgb(99, 99, 99);
  transition: 0.1s;
  font-size: 15px;
  display: flex;
}

.links:hover {
  color: rgb(241, 241, 241);
}

.toolbar {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
}

.logo-flix {
  width: 30px;
  /* border: 1px solid red; */
}

.logo-flix-p {
  width: 20px;
}

@media (max-width: 693px) {
  .typo {
    height: 80px;
    /* border: 1px solid red; */
  }
}
