.nav-links {
  /* border: 1px solid red; */
  display: flex;
  gap: 20px;
}

.links {
  color: rgb(146, 146, 146);
  transition: 0.1s;
}

.links:hover {
  color: rgb(235, 235, 235);
}

.toolbar {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
}
