/* .css-hyum1k-MuiToolbar-root {
  padding-left: 50px;
  padding-right: 24px;
} */

section {
  background-color: #00060f;
}

.nav-links {
  /* border: 1px solid red; */
  display: flex;
  gap: 10px;
}

.links {
  color: rgb(99, 99, 99);
  transition: 0.1s;
  font-size: 15px;
  display: flex;
}

.links:hover {
  color: rgb(241, 241, 241);
}

.toolbar {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
}

.logo-flix {
  width: 30px;
  /* border: 1px solid red; */
}

.logo-flix-p {
  width: 20px;
}

.typo {
  /* border: 1px solid red; */
  /* display: flex;
  justify-content: center; */
  background-color: #001c49;
  padding: 0 20px;
}

@media (max-width: 693px) {
  .typo {
    height: 70px;
    /* border: 1px solid red; */
  }
}

@media (max-width: 900px) {
}
